<nb-card>
  <nb-card-header>Cadastro de Usuário</nb-card-header>
  <nb-card-body>
    <form class="horizontal-form" [formGroup]="formulario">
      <h4>Informações Pessoais</h4>
      <hr>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" [ngClass]="aplicaCssErro('nome')" formControlName="nome" placeholder="Nome"
            required>
          <div class="invalid-feedback">
            Campo obrigatório.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" [ngClass]="aplicaCssErro('email')" formControlName="email" placeholder="E-mail"
            required>
          <div class="invalid-feedback">
            Campo obrigatório.
          </div>
        </div>

      </div>
      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf" [ngClass]="aplicaCssErro('cpf')" formControlName="cpf" placeholder="CPF"
            required>
          <div class="invalid-feedback">
            Campo obrigatório.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="dp">Data de Nascimento</label>
          <div class="form-group">
            <div class="input-group">
              <input readonly="true" class="form-control" placeholder="dd-mm-yyyy" id="dp" name="dp" formControlName="dataNascimento" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <br>
      <h4>Endereço</h4>
      <hr>
      <div formGroupName="endereco">
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="cep">CEP</label>
            <input type="text" (focusout)="consultaCEP()" class="form-control" id="cep" formControlName="cep" [ngClass]="aplicaCssErro('endereco.cep')" placeholder="CEP"
              required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" formControlName="cidade"
              placeholder="Cidade" required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')"
              placeholder="Estado" required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" formControlName="bairro" [ngClass]="aplicaCssErro('endereco.bairro')"
              placeholder="Bairro" required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" formControlName="rua" [ngClass]="aplicaCssErro('endereco.rua')" placeholder="Rua"
              required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="numero">Número</label>
            <input type="text" class="form-control" id="numero" formControlName="numero" [ngClass]="aplicaCssErro('endereco.numero')"
              placeholder="Número" required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" formControlName="complemento" [ngClass]="aplicaCssErro('endereco.complemento')"
              placeholder="Complemento" required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="form-group">
        <div class="form-check">
          <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
          <label class="form-check-label" for="invalidCheck3">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div> -->
      <button class="btn btn-primary" type="submit">Submeter</button>

      <app-form-debug [form]="formulario"></app-form-debug>
    </form>
  </nb-card-body>
</nb-card>